<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/x-icon" href="../img/term.ico">
    <title>IT Club MAN | News</title>
</head>
<body>
    <ul class="topnav">
        <li><a href="./../index.html">Home</a></li>
        <li><a class="active" href="./news.html">News</a></li>
        <li><a href="./gallery.html">Gallery</a></li>
        <li><a href="./about.html">About</a></li>
      </ul>

    <!-- <div class="regulardiv">
        <h1>Hello, visitor!</h1>
    <p>
        In development...<br>
        eeeh... this page probably never gonna be updated anyway<br>
        below is the list of news that we have posted so far<br>
    </p>
    </div> -->
    <div class="newbox">
        {{ news_list }}
    </div>

    <footer id="footer">
        <p>
            IT Club MAN 1 Metro<br>
            > <a href="mailto:itclubmanmet@gmail.com">Email</a><br>
            > <a href="https://www.instagram.com/itclub_mansametro/">Instagram</a>
        </p>
    </footer>
</body>
</html>